---
---

@charset "utf-8";
@import "normalize";
@import "skeleton";

html {
  font-size: 10px;
}

h1 a {
  text-decoration: none;
}

.subtitle {
  font-style: italic;
}

form.cta {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background-color: rgba(51, 195, 240, 0.2);
  display: table;
  width: 100%;
  margin-left:auto;
  margin-right:auto;

  input, h4, p {
    display: table;
    margin-left:auto;
    margin-right:auto;
  }
  input[type=text] {
    width: 95%;
  }
  input[type=submit] {
    width: 50%;
  }
}

#footer {
  display: table;
  margin-top: 5%;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
}

